<html>
  <head>
    <title>Rails Mister Cocktail</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "layouts/navbar" %>
    <div class="title-bar">
      <h2>All Cocktails</h2>
    </div>

    <div class="box">
      <% @cocktails.each do |cocktail| %>
        <div class="card-trip">
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
          <div class="card-trip-infos">
              <h2><%= cocktail.name %></h2>
          </div>
          <div class="recipe">
            <% cocktail.doses.each do |d| %>
             <p><%= d.description %> of <%= d.ingredient.name %></p>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>




  </body>
</html>


