<%= render "layouts/navbar" %>

<div class="title-bar">
  <h2>Enter your cocktail recipe</h2>
</div>

<div class="box">
  <%= simple_form_for @cocktail do |f| %>
    <%= f.input :name %>
    <div class="doses-form" id="dose-info">
      <%= f.fields_for :doses do |d| %>
        <%= d.input :description %>
        <%= d.input :ingredient_id, :multiple => true, :collection => Ingredient.all, name: "doses[ingredient]" %>
      <% end %>
    </div>
    <div class="doses-form" id="dose-info">
      <%= f.fields_for :doses do |d| %>
        <%= d.input :description %>
        <%= d.input :ingredient_id, :multiple => true, :collection => Ingredient.all, name: "doses[ingredient]" %>
      <% end %>
    </div>
      <%= f.submit class: "button" %>
  <% end %>
</div>
